* {
    margin: 0;
}


@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css') format('pretendard');
    font-weight: normal;
    font-style: normal;
}

/* background */
body {
    background-image: url("../images/bubble/background.svg");
    background-size: cover;
}

.background {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    margin-left: -250px;
}

.app_background {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    width: 400px;
    height: 100vh;
    background-color: aqua;
}

.navbar{
    text-align: center;
}
.navbar .logo {
    width: 50px;
    height: 50px;
}

.content_box {
    display: flex;
    justify-content: space-between;
    position: relative;

}

.content {
    width: 400px;
    height: 827px;
    background-color: #ffffff;
    left: 1000px;
    z-index: 100000;
    border-radius: 50px 0px 0px 0px;
}

.navibar_box {
    position: absolute;
    justify-content: center;
    display: flex;
    background-color: #ffffff;
    width: 400px;
    border: 1px solid #f1efef;
    z-index: 1000px;
}

.navi_ikon {
    display: flex;
    justify-content: center;
}

.navi_ikon_img img {
    width: 30px;
    padding: 20px;
}

.navi_ikon_img .pet_btn {
    margin-left: 0px;
}

.navi_ikon_img .home_btn {
    margin-left: 59px;
}

.navi_ikon_img .my_btn {
    margin-left: 59px;
}

.navi_ikon_text a {
    text-decoration: none;
    color: #a3a3a3;
    font-size: 10px;
    padding-left: 56px;
    padding-right: 56px;
}

.navi_ikon_text {
    position: absolute;
    list-style: none;
    display: flex;

    margin-top: 45px;
}

.text_MY {
    position: absolute;
    width: 15px;
    height: 12px;
    left: 391px;
    top: 1054.32px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.05em;

    /* blue */

    color: #4FB8F7;

}

.box_background {
    position: absolute;
    height: 1030px;
    width: 400px;
    border-radius: 50px 0px 0px 0px;
    z-index: -10000;
}

.circle_background {
    background: #DDF3FF;
    width: 190px;
    height: 190px;
    border-radius: 100px;
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 107px;
    display: inline;
}